img{width: 200px;height: auto;
    margin:5px;
    border:2px solid black;
    border-radius: 5px;
    float:left;
}
#frame{
    width:1000px;
    margin: 20px auto;
    border-left:5px ridge white;
    border-right:5px groove white;
    border-top:5px ridge white;
    border-bottom:5px groove white;
    padding-left: 60px;
    padding-right:60px;
    background-color:rgb(151, 138, 125)
}
body{
    background: 
        repeating-radial-gradient(
            circle at 25px 25px,
            rgb(89, 82, 75) 0,
            rgb(89, 82, 75) 3px,
            transparent 3px,
            transparent 50px
        ),
        rgb(109, 100, 91);
    background-size: 50px 50px;
    animation: moveLines 10s linear infinite;
    color:rgb(234, 217, 193);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

@keyframes moveLines {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 50px 50px;
    }
}

h1{
    background-color: rgb(171, 157, 135);
    border:3px solid burlywood;
    border-radius: 12px;
    padding: 20px;
    text-align:center;
    width:40%;
    margin-right: auto;
    margin-left:auto;
    font-size: 38px;
    font-family:sans-serif
}
h2{
    text-align: center;
    font-style:italic;
    font-size: 26px;
    font-family:sans-serif;
}
h3{
    border-left: 15px groove #afad8b;
    padding-right: 10px;
    padding-left:10px;
    border-radius: 15px;
    border-top:2px solid #afad8b;
    border-bottom:2px solid #afad8b;
    border-right:2px solid #afad8b;
    width:25%;
    font-size:20px;
    font-family: sans-serif
}

p{
    line-height:2em;
    border-top: 2px groove black;
    border-bottom: 2px ridge black;
    border-left: 2px groove black;
    border-right: 2px ridge black;
    padding:20px;
}
a:link{
    color:rgb(147, 73, 186);
    text-decoration: none;
    font-weight: bold;
}
a:visited{
    color:rgb(30, 30, 176)
}
a:hover{
    color:rgb(53, 132, 106);
}
a:active{
    color:orangered;
}
#pic1{
    float:right;
    margin-left:15px;
}
#pic2{
    float:left;
    margin-right:15px;
}
#pic3{
    float:right;
    margin-left:15px;
}
#videogames{  
    width: 300px;
    border-top: 2px groove black;
    border-bottom: 2px ridge black;
    border-left: 2px groove black;
    border-right: 2px ridge black;
}
.header{
    font-family:sans-serif;
}
.underline{
    text-decoration: underline;
}
#videogamesh3{
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
    width: 50%;
}
@media(max-width:1200px){
    #frame{
        width:800px;
    }
    img{
        width:225px;
        height:auto;
    }
}
@media(max-width:992px){
    #frame{
           width:90%;
           border-top:5px ridge white;
           border-bottom:5px groove white;
           margin: 20px auto;
           padding-left: 8px;
           padding-right: 8px;
           padding-top: 20px;
           padding-bottom: 20px;
           box-sizing: border-box;
    }
    body, p{
        margin:0;
        border:none;
        padding:0;
    }
    h3{
        width:40%;
    }
    img{
        width:200px;
        height: auto;
        max-width: 100%;
    }
}
@media(max-width:768px){
    #frame{
        width:90%;
        margin-top:20px;
        margin-bottom:20px;
        padding: 15px;
        box-sizing: border-box;
    }
    #videogames{
        display:none;
    }
    img{
        width:150px;
        height: 100px;
        max-width: 100%;
    }
}
@keyframes the-funny {
    from{rotate:0deg}
    to{rotate:360deg}
}
.the-funny:hover{
    animation-name: the-funny; 
    animation-duration: 4s;
}
#dog{
    display:none;
}
/* my easter egg */
@media(max-width:480px){
    #all{
        display:none
    }
    #dog{
        display:inline;
        width:50%;
        height:50%;
        margin:120px 20px 20px 100px;
    }

}