img{width: 150px;height: 100px;
    margin-right:6px;
    float:left;
}
body{
    background-color: rgb(91, 86, 82);
    color:rgb(234, 217, 193);
}
p{
    line-height:1.5em;
}
a:hover{
    text-size: 25px;
}
a:link{
    color:rgb(147, 73, 186);
}
a:visited{
    color:rgb(30, 30, 176)
}